table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th, tr, table {
    border: 1px;
    border-color: rgb(119, 119, 119);
    border-style: solid;
    
}

td, th {
	padding: 4px;
}


body {
	font-family: 'Courier New', Courier, monospace;
	background-color: #232323;
	color: #d1d1d1;
}

form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

label, input {
	margin: 2px;
}

div {
	margin-bottom: 2px;
}